/* LEFT BANNER */
.banner {
  margin-bottom: 100px;
  overflow: hidden;
}

.banner .row {
  margin: 0 auto;
}

.left-box {
  background-image: url(../../images/leftBanner.svg);
  height: 100vh;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 100px 50px 100px 50px;
}

.left-box .tag-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
  width: 50%;
  border-radius: 34px;
  padding: 5px 10px;
  margin-bottom: 25px;
  border: 1px solid var(--yellow);
}

.left-box .tag-line h6 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 5px;
}

.left-box .tag-line img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 40px;
}

.left-box .title {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.left-box .title span {
  color: var(--dark-yellow);
}

.left-box .text {
  width: 75%;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 60px;
}

/* Media query for left-side */
@media (max-width: 1299.98px) {
  .left-box .tag-line {
    width: 65%;
    margin-bottom: 25px;
  }

  .left-box .title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .left-box .text {
    width: 80%;
    margin-bottom: 25px;
  }
}

@media (max-width: 1155.98px) {
  .left-box .tag-line {
    width: 70%;
  }

  .left-box .title {
    font-size: 40px;
  }

  .left-box .text {
    width: 85%;
  }
}

@media (max-width: 1024.98px) {
  .left-box .tag-line {
    width: 75%;
    margin-bottom: 20px;
  }

  .left-box .title {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-box .text {
    width: 85%;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .left-box {
    padding: 30px 0px;
  }

  .left-box .tag-line {
    padding: 3px 5px;
    margin-bottom: 15px;
  }

  .left-box .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .left-box .text {
    width: 60%;
    margin-bottom: 20px;
  }
}

@media (max-width: 765.98px) {
  .left-box {
    padding: 20px 0px;
  }

  .left-box .tag-line {
    width: 55%;
    padding: 3px 5px;
    margin-bottom: 20px;
  }

  .left-box .title {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .left-box .text {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .left-box {
    padding: 20px 1rem;
  }

  .left-box .tag-line {
    width: 70%;
    margin-bottom: 15px;
  }

  .left-box .tag-line h6 {
    font-size: 14px;
  }

  .left-box .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .left-box .text {
    width: 85%;
    font-size: 13px;
    margin-bottom: 15px;
  }
}

@media (max-width: 370.98px) {
  .left-box .tag-line {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .left-box .tag-line h6 {
    font-size: 12px;
  }

  .left-box .tag-line img {
    max-height: 30px;
  }

  .left-box .title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .left-box .text {
    margin-bottom: 15px;
    font-size: 12px;
    width: 90%;
  }
}

@media (max-width: 320.98px) {
  .left-box .title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .left-box .text {
    margin-bottom: 10px;
    font-size: 12px;
    width: 95%;
  }
}

@media (max-width: 280.98px) {
  .left-box .tag-line {
    width: 75%;
  }
}

/* =================== RIGHT BANNER =================== */
.rightBanner {
  background-color: var(--yellow);
  position: relative;
  right: -80px;
}

.right-box {
  padding: 70px 0;
}

.right-box .banner-img {
  transform: rotateZ(-3deg);
  position: relative;
  left: -100px;
  width: 90%;
}

.right-box .banner-img img {
  border-radius: 20px;
}


/* Media query for right-side */
@media (max-width: 991.98px) {
  .right-box {
    padding: 30px 10px 0px 10px;
  }

  .right-box .banner-icon> :nth-child(1) {
    top: 2.5rem;
    left: -1rem;
  }

  .right-box .banner-icon> :nth-child(2) {
    bottom: 4rem;
    left: -3.5rem;
  }

  .right-box .banner-icon> :nth-child(3) {
    top: 5.5rem;
    right: -3.5rem;
  }

  .right-box .banner-icon .card> :nth-child(1) {
    font-size: 18px;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 18px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 12px;
  }

  .right-box .banner-img {
    width: auto;
  }
}

@media (max-width: 850.98px) {
  .right-box .banner-icon> :nth-child(3) {
    top: 5rem;
    right: -4rem;
  }

  .right-box .banner-icon .card> :nth-child(1) {
    font-size: 16px;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 16px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 11px;
  }
}

@media (max-width: 765.98px) {
  .right-box {
    padding: 10px 30px 0px 30px;
  }

  .right-box .banner-icon> :nth-child(1) {
    top: 2.5rem;
    left: -1rem;
  }

  .right-box .banner-icon> :nth-child(2) {
    bottom: 7rem;
    left: -3rem;
  }

  .right-box .banner-icon> :nth-child(3) {
    padding: 10px 30px;
    top: 7rem;
    right: -2rem;
  }

  .right-box .banner-img {
    width: auto;
  }
}

@media (max-width: 630.98px) {
  .right-box .banner-icon> :nth-child(1) {
    top: 2.5rem;
    left: 0rem;
  }

  .right-box .banner-icon> :nth-child(2) {
    bottom: 5rem;
    left: -3rem;
  }

  .right-box .banner-icon> :nth-child(3) {
    top: 5rem;
    right: -3rem;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 16px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 11px;
  }
}

@media (max-width: 575.98px) {
  .right-box {
    padding: 0px 1rem;
  }

  .right-box .banner-icon> :nth-child(1) {
    display: none;
  }

  .right-box .banner-icon> :nth-child(2) {
    padding: 15px 20px;
    border-radius: 10px;
    bottom: 1rem;
    left: 0rem;
  }

  .right-box .banner-icon> :nth-child(2) p {
    font-size: 16px;
  }

  .right-box .banner-icon> :nth-child(2) p span {
    font-size: 16px;
  }

  .right-box .banner-icon> :nth-child(3) {
    position: relative;
    top: 0rem;
    right: 0rem;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  .right-box .banner-icon .card {
    border-radius: 10px;
    padding: 10px 20px;
  }

  .right-box .banner-icon .card> :nth-child(1) {
    font-size: 18px;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 20px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 13px;
  }

  .right-box .banner-img {
    width: auto;
  }
}

@media (max-width: 320.98px) {
  .right-box .banner-icon .card> :nth-child(1) {
    font-size: 16px;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 16px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 12px;
  }
}

@media (max-width: 280.98px) {
  .right-box .banner-icon .card> :nth-child(1) {
    font-size: 14px;
  }

  .right-box .banner-icon .card .card-body h2 {
    font-size: 14px;
  }

  .right-box .banner-icon .card .card-body p {
    font-size: 10px;
  }
}